* {

}

nav {
	font-family: Poppins;
}

/*p {
	font-family: Ubuntu;
	font-size: 18px;
	padding: 5px;
	margin-top: 15px;
	text-align: justify;
    text-justify: inter-word;
}*/

.pstyle1{
	font-family: Ubuntu;
	font-size: 18px;
	padding: 5px;
	margin-top: 15px;
	text-align: justify;
    text-justify: inter-word;
}


/*.pstyle2{
	font-family: Ubuntu;
	font-size: 18px;
	padding: 5px;
	margin-top: 15px;
	text-align: justify;
    text-justify: inter-word;
}*/


/*.lead my-4{
	font-size: 50px;
}*/

h1 {
	font-size: 50px;
}

h2 {
	color: yellow;
	font-size: 25px;
}

/*h3 {
	font-family: Rubik;
	font-size: 50px;
}*/

.ini1 {
	font-family: Rubik;
	font-size: 35px;
}

@media(min-width: 768px) {
	.news-input{
		width:50%;

	}
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  font-family: Poppins;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
/*  margin: 4px 2px;*/
  margin-top: 20px;
  transition-duration: 0.3s;
  cursor: pointer;
}

/*.button2 {background-color: #008CBA;} /* Blue */*/

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {background-color: #e7e7e7; color: black;} /* Gray */ 

.button4 {border-radius: 12px;}

.buttonfont{
	 font-family: Poppins;
	 font-size: 15px;
}

.space1{
/*	width: 0px;*/
	max-width: 500px;
  	margin: auto;
  	border: 1px solid;
}

.bg1 {

background-image: url('background2.png');
background-attachment: scroll;
/*background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url("background2.jpg"));*/
background-repeat: no-repeat;
background-size: cover;
background-position:center;
opacity:1
/*-webkit-filter: brightness(0.8);;
filter: brightness(50%)*/
filter:blur(15px);
text-align:center;
}


.h1sty {

	text-align:center;
	margin-right:50px;
}

#invert1{
   -webkit-filter: invert(1);
   filter: invert(1);
}

.aadjust{
	bottom: 550px;
}

.card-text{
	font-family: Poppins;
	font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.bodyftr{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.ftr1 {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/*.containeftr{
	max-width: auto;
	margin:auto;
}*/

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.bg-image-vertical {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 100%;
	}
	
	@media (min-width: 1025px) {
	.h-custom-2 {
	height: 100%;
	}
	}

.login-page{
	width:360px;
	padding:10% 0 0;
	margin:auto;
}

.form{
	position: relative;
	z-index: 1;
	background: rgba(7,40 ,195, 0.8);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin:0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}

.form button: hover, .form button:active{
	background: #43A047;
}

.form .message{
	margin: 15px 0 0;
	color: aliceblue;
	font-size: 15px;
}

.form .message a{
	color: #4CAF50;
	text-decoration: none;
}

.form .register-form{
	display: none;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 120%;
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(background2.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
 
.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #dc8410;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
}
.input-group {
    margin: 10px 10px 10px 10px;
}
 
.input-group label {
    display: block;
    text-align: left;
    margin: 5px;
    font-size: 20px;
}
.input-group input {
    height: 32px;
    width: 95%;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid gray;
}
.btn {
    cursor: pointer;
    padding: 12px;
    font-size: 16px;
    color: white;
    background: #d86919;
    border: none;
    border-radius: 10px;
}
.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }